<div>
  <h1>Test one Angular Elements</h1>
      <button (click)="showMessage()">Display custom element</button>
      <button (click)="HiddenMessage()">Hidden custom element</button>

      <app-hello-world *ngIf="isShown"></app-hello-world>

<!-- Bak realization https://blog.bitsrc.io/using-angular-elements-why-and-how-part-1-35f7fd4f0457 

      <button (click)="showMessageBak()">Bak Display custom element</button>
      <button (click)="HiddenMessageBak()">Bak Hidden custom element</button>

-->
      <div id="hello"></div> <!-- custom element -->

</div>
