hr {
    border: none; 		/* Убираем границу для браузера Firefox */
    color: #979797; 		/* Цвет линии для остальных браузеров */
    background-color: #979797; 	/* Цвет линии для браузера Firefox и Opera */
    height: 1px; 		/* Толщина линии */
}

